h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.link {
  text-decoration: none;
  display: block;
}

:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196F3;
  --studio-header-color: #000000;
  --text-background-color: #FFFFFF;
  --hero-background-color: #2F303A;
  --peculiarity-background-color: #F5F5F5;
  --team-background-color: #F5F4FA;
  --footer-background-color: #2F303A;
  --footer-contact-color: rgba(255, 255, 255, 0.6);
  --button-hover-color: #188ce8;
}

body {
  font-family: Roboto, sans-serif;
  color: var(--primary-text-color);
  letter-spacing: 0.03em;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.section {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.container {
  width: 100%;
  margin: 0 auto;
}
@media screen and (min-width: 480px) {
  .container {
    width: 450px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 738px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

.header {
  background-color: var(--text-background-color);
  border-bottom: 1px solid #ECECEC;
  margin-left: auto;
  margin-right: auto;
  width: calc(100% - 30px);
}

.main-nav {
  display: flex;
  align-items: center;
}

.menu-button-open {
  margin-left: auto;
  width: 40px;
  height: 40px;
  border: none;
  padding: 0;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: #000000;
  transition: color 250ms ease;
}
@media screen and (min-width: 768px) {
  .menu-button-open {
    display: none;
  }
}

.menu-button-open:hover {
  color: var(--accent-color);
}

.menu-button-open {
  fill: currentColor;
}

.logo {
  display: block;
  padding-top: 16px;
  padding-bottom: 16px;
  margin-right: 93px;
}
@media screen and (min-width: 768px) {
  .logo {
    padding-top: 24px;
    padding-bottom: 25px;
    margin-right: 87px;
  }
}
@media screen and (min-width: 1200px) {
  .logo {
    padding-top: 24px;
    padding-bottom: 25px;
  }
}

.logo__web {
  color: var(--accent-color);
  font-family: "Raleway";
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
}
@media screen and (min-width: 1200px) {
  .logo__web {
    font-size: 26px;
    line-height: 1.2;
  }
}

.logo__studio {
  color: var(--studio-header-color);
  font-family: "Raleway";
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
}
@media screen and (min-width: 1200px) {
  .logo__studio {
    font-size: 26px;
    line-height: 1.2;
  }
}

.site-nav {
  display: none;
}
@media screen and (min-width: 768px) {
  .site-nav {
    display: flex;
    align-items: center;
    gap: 50px;
  }
}
@media screen and (min-width: 1200px) {
  .site-nav {
    display: flex;
    align-items: center;
    gap: 50px;
  }
}

.site-nav__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition: color 250ms ease;
  position: relative;
}

.site-nav__link--current {
  color: var(--accent-color);
}

.site-nav__link:hover,
.site-nav__link:focus {
  color: var(--accent-color);
}

.site-nav__link--current-trait::after {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
  position: absolute;
  left: 0;
  bottom: 0;
}

@media screen and (max-width: 768px) {
  .contacts-header {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .contacts-header {
    margin-left: auto;
    display: block;
    padding-top: 21px;
    padding-bottom: 21px;
  }
}
@media screen and (min-width: 1200px) {
  .contacts-header {
    display: flex;
    align-items: center;
    margin-left: auto;
    gap: 50px;
  }
}

@media screen and (min-width: 768px) {
  .contacts-header__item {
    margin-bottom: 8px;
  }
}
@media screen and (min-width: 1200px) {
  .contacts-header__item {
    margin-bottom: 0px;
  }
}

@media screen and (min-width: 768px) {
  .contacts-header__item:last-child {
    margin-bottom: 0px;
  }
}

.contacts-header__link {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  transition: color 250ms ease;
}
@media screen and (min-width: 1200px) {
  .contacts-header__link {
    color: var(--primary-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    transition: color 250ms ease;
    display: flex;
    justify-content: center;
  }
}

.contacts-header__link:hover,
.contacts-header__link:focus {
  color: var(--accent-color);
}

.contacts-header__icon {
  fill: currentColor;
  margin-right: 10px;
}

.hero {
  background: var(--hero-background-color);
  text-align: center;
  padding: 118px 0;
}
@media screen and (min-width: 1200px) {
  .hero {
    padding: 200px 0;
  }
}

.overlay {
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/header_img-mob.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .overlay .box {
    background-image: url("../images/header_img-mob-2x.jpg");
  }
}
@media screen and (min-width: 768px) {
  .overlay {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/header_img-tab.jpg");
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .overlay .box {
    background-image: url("../images/header_img-tab-2x.jpg");
  }
}
@media screen and (min-width: 1200px) {
  .overlay {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/header_img-desk.jpg");
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .overlay .box {
    background-image: url("../images/header_img-desk-2x.jpg");
  }
}

.hero__title {
  margin-bottom: 30px;
  color: var(--text-background-color);
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 44px;
    line-height: 1.36;
  }
}

.hero__button {
  background-color: var(--accent-color);
  color: var(--text-background-color);
  cursor: pointer;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  border-radius: 4px;
  width: 216px;
  height: 50px;
  border: none;
  padding: 0;
  transition: background-color 250ms ease-in-out;
}

.hero__button:hover,
.hero__button:focus {
  background-color: var(--button-hover-color);
  color: var(--text-background-color);
}

.peculiarity {
  background-color: var(--text-background-color);
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 768px) {
  .peculiarity {
    padding-left: 0px;
    padding-right: 0px;
  }
}
@media screen and (min-width: 1200px) {
  .peculiarity {
    padding-left: 0px;
    padding-right: 0px;
  }
}

.peculiarity__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
@media screen and (min-width: 768px) {
  .peculiarity__list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: space-between;
  }
}
@media screen and (min-width: 1200px) {
  .peculiarity__list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: space-between;
  }
}

.peculiarity__item {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .peculiarity__item {
    width: calc((100% - 60px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .peculiarity__item {
    width: calc((100% - 120px) / 4);
  }
}

.peculiarity__icon {
  width: 100%;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--team-background-color);
  border-radius: 4px;
  margin-bottom: 30px;
}

.peculiarity__title {
  color: var(--title-text-color);
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
}
@media screen and (max-width: 480px) {
  .peculiarity__title {
    text-align: center;
  }
}

.peculiarity__text {
  color: var(--primary-text-color);
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}

.work {
  background: var(--text-background-color);
  text-align: center;
}
@media screen and (max-width: 1199px) {
  .work {
    display: none;
  }
}

.work__title {
  margin-bottom: 50px;
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
}

.work__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  position: relative;
}

.work__thumb {
  position: relative;
  width: 370px;
  height: 294px;
}

.work__thumb::before {
  display: inline-block;
  position: absolute;
  content: "";
  width: 100%;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
  left: 0;
  bottom: 0;
}

.work__label {
  position: absolute;
  bottom: 27px;
  left: 50%;
  transform: translate(-50%);
}

.work__title-label {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--text-background-color);
}

.team {
  background: var(--team-background-color);
  text-align: center;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 768px) {
  .team {
    padding-left: 0px;
    padding-right: 0px;
  }
}
@media screen and (min-width: 1200px) {
  .team {
    padding-left: 0px;
    padding-right: 0px;
  }
}

.team__title {
  margin-bottom: 30px;
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 28px;
  line-height: 1.18;
}
@media screen and (min-width: 1200px) {
  .team__title {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.17;
  }
}

.team__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
@media screen and (min-width: 768px) {
  .team__list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: space-between;
  }
}
@media screen and (min-width: 1200px) {
  .team__list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: space-between;
  }
}

.team__item {
  width: 100%;
  background-color: var(--text-background-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
@media screen and (min-width: 768px) {
  .team__item {
    width: calc((100% - 60px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .team__item {
    width: calc((100% - 120px) / 4);
  }
}

.team__employee {
  padding: 30px 0;
}

.team__name {
  margin-top: 0;
  margin-bottom: 10px;
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
}

.team__function {
  margin-top: 0;
  margin-bottom: 0;
  color: var(--primary-text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  margin-bottom: 16px;
}

.team__social-list {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: center;
}

.team__social-link {
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: #AFB1B8;
  transition: color 250ms ease, background-color 250ms ease-in-out;
}

.team__social-link:hover,
.team__social-link:focus {
  color: #FFFFFF;
  background-color: var(--accent-color);
}

.team__icon-social {
  fill: currentColor;
}

.client {
  text-align: center;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 768px) {
  .client {
    padding-left: 0px;
    padding-right: 0px;
  }
}
@media screen and (min-width: 1200px) {
  .client {
    padding-left: 0px;
    padding-right: 0px;
  }
}

.client__title {
  margin-bottom: 30px;
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 28px;
  line-height: 1.18;
}
@media screen and (min-width: 1200px) {
  .client__title {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.17;
  }
}

.client__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
  justify-content: space-between;
}
@media screen and (min-width: 768px) {
  .client__list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: space-between;
  }
}
@media screen and (min-width: 1200px) {
  .client__list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: space-between;
  }
}

.client__item {
  width: 100%;
  width: calc((100% - 60px) / 2);
}
@media screen and (min-width: 480px) {
  .client__item {
    width: calc((100% - 60px) / 2);
  }
}
@media screen and (min-width: 768px) {
  .client__item {
    width: calc((100% - 90px) / 3);
  }
}
@media screen and (min-width: 1200px) {
  .client__item {
    width: calc((100% - 180px) / 6);
  }
}

.client__link {
  width: 100%;
  height: 92px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #AFB1B8;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  outline-width: 0;
  transition: border-color 250ms ease-in-out;
  transition: color 250ms ease;
}

.client__link:hover,
.client__link:focus {
  border-color: var(--accent-color);
  color: var(--accent-color);
}

.client__icon {
  fill: currentColor;
  transition: fill 250ms ease-in;
}

.footer {
  background: var(--footer-background-color);
  padding: 60px 0;
  justify-content: center;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .footer__column {
    display: flex;
    align-items: baseline;
  }
}

@media screen and (min-width: 768px) {
  .footer__left {
    margin-right: 165px;
  }
}
@media screen and (min-width: 1200px) {
  .footer__left {
    margin-right: 70px;
  }
}

@media screen and (min-width: 768px) {
  .tablet-flex {
    display: flex;
    align-items: baseline;
  }
}

.footer__logo {
  margin-bottom: 20px;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .footer__logo {
    padding-left: 100px;
    text-align: left;
  }
}
@media screen and (min-width: 1200px) {
  .footer__logo {
    padding-left: 0px;
  }
}

.logo__studio--white {
  color: var(--text-background-color);
  font-family: "Raleway";
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
}
@media screen and (min-width: 1200px) {
  .logo__studio--white {
    font-size: 26px;
    line-height: 1.2;
  }
}

.footer__contacts {
  margin-bottom: 60px;
}
@media screen and (min-width: 480px) {
  .footer__contacts {
    margin-bottom: 60px;
  }
}
@media screen and (min-width: 768px) {
  .footer__contacts {
    margin-left: 61px;
    margin-bottom: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .footer__contacts {
    margin-left: 0px;
    margin-bottom: 0px;
  }
}

.footer__location {
  color: var(--text-background-color);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .footer__location {
    width: 232px;
    text-align: center;
  }
}
@media screen and (min-width: 1200px) {
  .footer__location {
    text-align: left;
  }
}

.footer__contact {
  text-align: center;
}
@media screen and (min-width: 768px) {
  .footer__contact {
    width: 232px;
    text-align: center;
  }
}
@media screen and (min-width: 1200px) {
  .footer__contact {
    text-align: left;
  }
}

.footer__contact-link {
  color: var(--footer-contact-color);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  transition: color 250ms ease;
  margin-bottom: 9px;
  margin-top: 9px;
}

.footer__contact-link:last-child {
  margin-bottom: 0;
}

.footer__contact-link:hover,
.footer__contact-link:focus {
  color: var(--accent-color);
}

.call {
  justify-content: center;
}
.footer__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--text-background-color);
  font-family: "Roboto";
  font-style: normal;
  margin-bottom: 20px;
  text-align: center;
}
@media screen and (min-width: 480px) {
  .footer__title {
    text-align: center;
  }
}
@media screen and (min-width: 768px) {
  .footer__title {
    text-align: center;
  }
}
@media screen and (min-width: 1200px) {
  .footer__title {
    text-align: left;
  }
}

.footer__social-list {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin-bottom: 60px;
}
@media screen and (min-width: 480px) {
  .footer__social-list {
    justify-content: center;
    margin-bottom: 60px;
  }
}
@media screen and (min-width: 768px) {
  .footer__social-list {
    justify-content: center;
    margin-bottom: 102px;
  }
}
@media screen and (min-width: 1200px) {
  .footer__social-list {
    justify-content: center;
    margin-bottom: 0px;
  }
}

.footer__link-icon {
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: #FFFFFF;
  background: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms ease-in-out;
}

.footer__link-icon:hover,
.footer__link-icon:focus {
  background-color: var(--accent-color);
}

.footer__social-icon {
  fill: currentColor;
}

.subscription {
  margin-left: auto;
}

.subscription__box {
  justify-content: center;
}
@media screen and (min-width: 1200px) {
  .subscription__box {
    display: flex;
    gap: 12px;
  }
}

.subscription__input {
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  height: 50px;
  width: calc(100% - 30px);
  justify-content: center;
  padding: 0;
  margin: 0;
  outline-width: 0;
  transition: border-color 250ms ease-in-out;
  background-color: var(--hero-background-color);
  padding-left: 16px;
  color: rgba(255, 255, 255, 0.6);
  margin-bottom: 20px;
}
@media screen and (min-width: 768px) {
  .subscription__input {
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .subscription__input {
    width: 358px;
  }
}
@media screen and (min-width: 480px) {
  .subscription__input {
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 768px) {
  .subscription__input {
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 1200px) {
  .subscription__input {
    margin-bottom: 0px;
  }
}

.subscription__input:focus {
  border: 1px solid var(--accent-color);
  border-radius: 4px;
}

.subscription__batton {
  background-color: var(--accent-color);
  color: var(--text-background-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  width: 200px;
  height: 50px;
  cursor: pointer;
  font-family: inherit;
  border: none;
  gap: 10px;
  padding: 0;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: background-color 250ms ease-in-out;
}
@media screen and (min-width: 1200px) {
  .subscription__batton {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.subscription__batton:hover,
.subscription__batton:focus {
  background-color: var(--button-hover-color);
}

.filter {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 8px;
  margin-bottom: 50px;
}

.filter__button {
  background-color: var(--team-background-color);
  color: var(--title-text-color);
  cursor: pointer;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 0.03em;
  border-radius: 4px;
  padding-top: 6px;
  padding-right: 22px;
  padding-bottom: 6px;
  padding-left: 22px;
  outline: none;
  border: none;
  transition: color 250ms ease, background-color 250ms ease-in-out, box-shadow 250ms ease-in-out;
}

.filter__button:hover,
.filter__button:focus {
  background-color: var(--accent-color);
  color: var(--text-background-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  position: relative;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 768px) {
  .gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: space-between;
    padding-left: 0px;
    padding-right: 0px;
  }
}
@media screen and (min-width: 1200px) {
  .gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: space-between;
    padding-left: 0px;
    padding-right: 0px;
  }
}

@media screen and (min-width: 768px) {
  .card {
    width: calc((100% - 60px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .card {
    width: calc((100% - 90px) / 3);
  }
}

.card__link {
  transition: box-shadow 250ms ease-out;
}

.gallery .card__link:hover,
.gallery .card__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.card__thumb {
  position: relative;
  overflow: hidden;
}

.card__overlay-text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 294px;
  background: rgba(33, 150, 243, 0.9);
  transform: translatey(100%);
  transition: transform 250ms ease;
}

.card__link:hover .card__overlay-text {
  transform: translatey(0);
}

.card__overlay-text > p {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--text-background-color);
  width: 322px;
  padding-top: 63px;
  padding-left: 24px;
}

.card__text-wrap {
  padding: 20px 24px;
  border-right: 1px solid #EEEEEE;
  border-bottom: 1px solid #EEEEEE;
  border-left: 1px solid #EEEEEE;
  box-sizing: content-box;
}

.card__title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}

.card__text {
  color: var(--primary-text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
}

.backdrop {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  background: rgba(0, 0, 0, 0.2);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden.backdrop {
  pointer-events: none;
  opacity: 0;
}

.modal {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: calc(100% - 30px);
  height: auto;
  background-color: var(--text-background-color);
  border-radius: 4px;
  width: calc(100% - 30px);
  height: auto;
}
@media screen and (min-width: 480px) {
  .modal {
    width: 450px;
    height: 609px;
  }
}
@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    height: 581px;
  }
}

.modal__button-close {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  padding: 0;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  color: #000000;
  transition: color 250ms ease;
}

.modal__button-close:hover {
  color: var(--accent-color);
}

.modal__button-close {
  fill: currentColor;
}

.modal__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  padding-top: 40px;
  margin-bottom: 12px;
  padding-left: 40px;
  padding-right: 40px;
}
@media screen and (min-width: 480px) {
  .modal__title {
    font-size: 20px;
    line-height: 1.5;
  }
}
@media screen and (min-width: 1200px) {
  .modal__title {
    font-size: 20px;
    line-height: 1.15;
  }
}

.modal__form {
  width: calc(100% - 30px);
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 480px) {
  .modal__form {
    width: 370px;
  }
}
@media screen and (min-width: 1200px) {
  .modal__form {
    width: 448px;
  }
}

.modal__field {
  margin-bottom: 10px;
}

.modal__label-contact {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--primary-text-color);
  display: flex;
  margin-bottom: 4px;
}

.modal__input-contact-box {
  position: relative;
}

.modal__input-contacts {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  height: 40px;
  padding: 0;
  width: 100%;
  margin: 0;
  outline-width: 0;
  transition: border-color 250ms ease-in-out;
  padding-left: 42px;
}

.modal__input-contacts:focus {
  border: 1px solid #2196F3;
  border-radius: 4px;
}

.modal__icon-contact {
  position: absolute;
  left: 12px;
  top: 11px;
  display: inline-block;
  width: 18px;
  height: 18px;
  color: var(--title-text-color);
  transition: color 250ms ease;
}

.modal__icon-contact {
  fill: currentColor;
}

.modal__input-contacts:focus ~ .modal__icon-contact {
  color: var(--accent-color);
}

.modal__coments-field {
  margin-bottom: 20px;
}

.modal__label-coments {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--primary-text-color);
  display: flex;
  margin-bottom: 4px;
}

.modal__textarea-coments {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  height: 120px;
  width: 100%;
  resize: none;
  outline-width: 0;
  transition: border-color 250ms ease-in-out;
  padding-left: 16px;
  padding-top: 12px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal__textarea-coments:focus {
  border: 1px solid #2196F3;
  border-radius: 4px;
}

.modal__check {
  margin-bottom: 30px;
  text-align: center;
  display: flex;
  justify-content: center;
}

.modal__check-label {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  display: flex;
  align-items: center;
  gap: 8px;
}
@media screen and (min-width: 1200px) {
  .modal__check-label {
    font-size: 14px;
    line-height: 1.71;
  }
}

.modal__input-check {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  position: absolute;
}

.modal__input-check:checked + .modal__icon-check {
  border-color: var(--accent-color);
  background-color: var(--accent-color);
  background-image: url(../images/icon\ check.svg);
  background-size: contain;
  background-origin: content-box;
}

.modal__icon-check {
  display: inline-block;
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 5px;
}

.modal__check-link {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: var(--accent-color);
}
@media screen and (min-width: 1200px) {
  .modal__check-link {
    font-size: 14px;
    line-height: 1.71;
  }
}

.modal__button-box {
  display: flex;
  justify-content: center;
  padding-bottom: 40px;
}

.modal__button {
  background-color: var(--accent-color);
  color: var(--text-background-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  width: 200px;
  height: 50px;
  cursor: pointer;
  font-family: inherit;
  border: none;
  padding: 0;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: background-color 250ms ease-in-out;
}

.modal__button:hover,
.modal__button:focus {
  background-color: var(--button-hover-color);
}

.mobile-menu {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  opacity: 1;
  background-color: var(--text-background-color);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-is-hidden.mobile-backdrop {
  pointer-events: none;
  opacity: 0;
}

.menu-button-close {
  position: absolute;
  top: 10px;
  right: 15px;
  width: 40px;
  height: 40px;
  padding: 0;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  cursor: pointer;
  color: #000000;
  transition: color 250ms ease;
}

.menu-button-close:hover {
  color: var(--accent-color);
}

.menu-button-close {
  fill: currentColor;
}

.menu__site-nav {
  display: block;
  padding-left: 40px;
  padding-top: 48px;
}

.menu__site-nav-item {
  margin-bottom: 32px;
}

.menu__site-nav-item:last-child {
  margin-bottom: 150px;
}

.menu__site-nav-link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: #212121;
}

.site-nav__link--current {
  color: var(--accent-color);
}

.menu-contacts__link-tel {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--accent-color);
  padding-left: 40px;
  margin-bottom: 32px;
}

.menu-contacts__link-mail {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: #757575;
  padding-left: 40px;
  margin-bottom: 100px;
}

.menu-contacts__link:hover,
.menu-contacts__link:focus {
  color: var(--accent-color);
}

.menu-social {
  display: flex;
  padding-left: 40px;
  gap: 20px;
}

.menu-social__link-inst {
  position: relative;
}
.menu-social__link-inst::before {
  content: "";
  width: 1px;
  height: 100%;
  display: block;
  background-color: rgba(33, 33, 33, 0.2);
  position: absolute;
  right: -10px;
}

.menu-social__link-twit {
  position: relative;
}
.menu-social__link-twit::before {
  content: "";
  width: 1px;
  height: 100%;
  display: block;
  background-color: rgba(33, 33, 33, 0.2);
  position: absolute;
  right: -10px;
}

.menu-social__link-face {
  position: relative;
}
.menu-social__link-face::before {
  content: "";
  width: 1px;
  height: 100%;
  display: block;
  background-color: rgba(33, 33, 33, 0.2);
  position: absolute;
  right: -10px;
}

.menu-social__link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: #2196F3;
}/*# sourceMappingURL=main.css.map */