.subscription {
    margin-left: auto;
    
}

.subscription__box {
justify-content: center;

    @media screen and (min-width: 1200px) {
        display: flex;
        gap: 12px;
    }
}

.subscription__input {
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    height: 50px;
    width: calc(100% - 30px);
    justify-content: center;
    

    @media screen and (min-width: 768px) {
        width: 450px;
    }

    @media screen and (min-width: 1200px) {
        width: 358px;
    }

    padding: 0;
    margin: 0;
    outline-width: 0;
    transition: border-color 250ms ease-in-out;
    background-color: var(--hero-background-color);
    padding-left: 16px;
    color: rgba(255, 255, 255, 0.6);
    margin-bottom: 20px;

    @media screen and (min-width: 480px) {
        margin-bottom: 20px;
    }

    @media screen and (min-width: 768px) {
        margin-bottom: 20px;
    }

    @media screen and (min-width: 1200px) {
        margin-bottom: 0px;
    }
}

.subscription__input:focus {
    border: 1px solid var(--accent-color);
    border-radius: 4px;
}

.subscription__batton {
    background-color: var(--accent-color);
    color: var(--text-background-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    width: 200px;
    height: 50px;
    cursor: pointer;
    font-family: inherit;
    border: none;
    gap: 10px;


    @media screen and (min-width: 1200px) {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    padding: 0;
    border-radius: 4px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    transition: background-color 250ms ease-in-out;


}

.subscription__batton:hover,
.subscription__batton:focus {
    background-color: var(--button-hover-color);
}